@import helper._
@import controllers.helpers.CaveForms._
@import com.gilt.cavellc.models.Role
@implicitFieldConstructor = @{ FieldConstructor(views.html.forms.inputFieldConstructorWithLabels.f) }
<!-- Modal -->
<!-- Modal -->
<div class="modal fade" id="change-role" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title"></h4>
            </div>
            @helper.form(action = routes.Application.changeRole()) {
            <div class="modal-body">
                <p class="confirmationMsg"></p>
                <fieldset>
                    @helper.inputText(
                    addUserForm("email"),
                    'type -> "hidden",
                    '_label -> "",
                    '_class -> "hidden",
                    'required -> ""
                    )
                    @helper.inputText(
                    addUserForm("organization"),
                    'type -> "hidden",
                    '_label -> "",
                    '_class -> "hidden",
                    'required -> ""
                    )
                    @helper.inputText(
                    addUserForm("team"),
                    'type -> "hidden",
                    '_label -> "",
                    '_class -> "hidden",
                    'required -> ""
                    )
                    @helper.select(
                    addUserForm("role"),
                    helper.options(Role.all.filterNot(_ == Role.Team).map(_.toString).toList),
                    '_label -> "Role",
                    'class -> "selectpicker",
                    'required -> ""
                    )
                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Change</button>
            </div>
            }
        </div>
    </div>
</div>