@import helper._
@implicitFieldConstructor = @{ FieldConstructor(views.html.forms.inputFieldConstructorWithLabels.f) }
<!-- Modal -->
<div class="modal fade" id="deleteTokenModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title">@Messages("cave.tokens.delete.modal.title")</h4>
            </div>
            @helper.form(action = routes.Tokens.delete()) {
            <div class="modal-body">
                <strong><p class="tokenDescription"></p></strong>
                <p class="confirmationMsg">@Messages("cave.tokens.delete.modal.confirmation")</p>
                <input type="hidden" name="organization" value="">
                <input type="hidden" name="tokenId" value="">
                <input type="hidden" name="team" value="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Remove</button>
            </div>
            }
        </div>
    </div>
</div>