@(alert: Alert, organizationName: String, breadcrumb: collection.immutable.ListMap[String, _],
deleteAlertForm: Form[_],
editAlertForm: Form[_],
createAlertForm: Form[_],
teamName: Option[String] = None)(implicit request: RequestHeader)

@mainTemplate("CAVE") {
@common.breadcrumb(breadcrumb)
<div class="row">
    <div class="col-md-12">
        <p>
            <a href='../metrics' type="button" class="btn btn-default">Metrics</a>
        </p>
        <div class="panel panel-default">
            <div class="panel-heading">Alert</div>
            @views.html.alerts.alertFragment(alert, organizationName, teamName)
        </div>

        @if(alert.enabled) {
            <a href="@alert.id.getOrElse("")/disable" type="button" class="btn btn-danger">Disable</a>
        } else {
            <a href="@alert.id.getOrElse("")/enable" type="button" class="btn btn-success">Enable</a>
        }

        <a href="" type="button" data-target="#editAlertModal" data-toggle="modal" class="btn btn-default">Edit</a>
        <a href="" type="button" data-target="#createAlertModal" data-toggle="modal" class="btn btn-primary">Clone</a>
        <a type="button" data-target="#confirm-alert-delete" data-toggle="modal" class="btn btn-danger pull-right">Delete</a>
        @modal.deleteAlertModal(deleteAlertForm)
        @modal.editAlertModal(editAlertForm)
        @modal.createAlertModal(createAlertForm)
    </div>
</div>
</div>
}