@(passwordChangeForm:Form[(String, String)])(implicit request: RequestHeader)
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(views.html.forms.inputFieldConstructor.f) }
@import play.api.{Logger, Play}
@import helper._
@import play.api.Play
@import collection.immutable.ListMap

@mainTemplate("CAVE") {

    @common.breadcrumb(ListMap("Home" -> routes.Application.index, "Your Profile" -> routes.UserProfile.profile, "Change Password" -> routes.PasswordChange.page))

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">@Messages("cave.profile.changePassword")</h3>
                </div>
                <div class="panel-body">
                    <form action="@routes.PasswordChange.handlePasswordChange" autocomplete="off" method="POST">
                        <fieldset>
                            @helper.inputPassword(
                                passwordChangeForm("newPassword.password1"),
                                'placeholder -> Messages("cave.login.passwordChange.newPassword1"),
                                'class -> "form-control",
                                'type -> "password",
                                'required -> ""
                            )

                            @helper.inputPassword(
                                passwordChangeForm("newPassword.password2"),
                                'placeholder -> Messages("cave.login.passwordChange.newPassword2"),
                                '_error -> passwordChangeForm.error("newPassword"),
                                'class -> "form-control",
                                'type -> "password",
                                'required -> ""
                            )

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">
                                    @Messages("cave.login.passwordChange.changeButton")
                                </button>
                                <a class="btn" href="@routes.UserProfile.profile">@Messages("cave.login.signup.cancel")</a>
                            </div>
                        </fieldset>
                    </form>
                    @request.flash.get("error").map { msg =>
                    <div class="alert alert-danger">
                        @Messages(msg)
                    </div>
                    }

                    @passwordChangeForm.globalError.map { error =>
                    <div class="alert alert-danger">
                        @error.message
                    </div>
                    }

                    @request.flash.get("success").map { message =>
                    <div class="alert alert-info">
                        @message
                    </div>
                    }
                 </div>
                </div>
            </div>
        </div>
    </div>
}